{% extends 'base.html' %}
{% block title %} MEDICO - EDIT {% endblock %}

{% block content %}
<h1>Actualizar de medico</h1>

<form action="{{ url_for('medico.edit',id=medico.id) }}" class="form form-control" method="POST">
    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" value="{{medico.nombre}}">
    </div>
        <div class="mb-3">
        <label for="" class="form-label">Eespecialidad</label>
        <input type="text" class="form-control" name="especialidad" value="{{medico.especialidad}}">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Telefono</label>
        <input type="number" class="form-control" name="telefono" value="{{medico.telefono}}">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Correo</label>
        <input type="email" class="form-control" name="correo" value="{{medico.correo}}">
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>


{% endblock %}