{% extends 'base.html' %}
{% block title %} PACIENTE - EDIT {% endblock %}

{% block content %}
<h1>Actualizar de paciente</h1>

<form action="{{ url_for('paciente.edit',id=paciente.id) }}" class="form form-control" method="POST">
    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" value="{{paciente.nombre}}">
    </div>
        <div class="mb-3">
        <label for="" class="form-label">Edad</label>
        <input type="number" class="form-control" name="edad" value="{{paciente.edad}}">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Direccion</label>
        <input type="text" class="form-control" name="direccion" value="{{paciente.direccion}}">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Telefono</label>
        <input type="number" class="form-control" name="telefono" value="{{paciente.telefono}}">
    </div>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>


{% endblock %}